/*
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*/

* {
    margin: 0px;
    padding: 0px;
/*
    border-style: solid;
    border-width: 0px;
    border-color: #666666;
*/
}

div {
    font-family:sans-serif;
    overflow: auto; /* to stop margin collapsing*/
    position: relative; /* to contain 'absolute' elements */
    border: inherit;
}

#page{
    width: 100%;
}

.centered {
    width: 800px;
    margin: 0px auto;
}

.blue-wrapper {
    width: 100%;
    background-color: #00aad4;
}

#header {
    color: #ffffff;
    background-color: #00aad4;

    padding: 20px;
}

#login {
    position: absolute;
    top: 5px;
    right: 10px;

    font-size: 70%;
    font-weight: bold;
}

#menu {
    font-weight: bold;
}

#content {
    margin-top: 20px;
    margin-bottom: 20px;
}

#content div {
    margin: 20px 10px;;
    padding: 5px;
}

h1.header {
    margin-top: 20px;
    margin-bottom: 10px;
/*    color: #000033; */
}

h4.subheader {
    font-weight: bold;
    font-style: italic;
/*    color: #000033;*/
}

/* menu styling */
ul.menu {
    list-style-type: none;
}

.menu li {
    float: left;
}

.menu a {
    display: block;
    width: 60px;
    padding: 5px;

    /*
    background-color: #009900;
    */

    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: black;

    text-align: center;
}

.menu a:hover, .menu a:active {
    background-color: #ffffff;
    color: #00aad4;
}


a:link,a:visited {
/*    color: #bb0000;*/
    text-decoration: none;
}

a:hover,a:active {
    text-decoration: underline;
}
