<html>
    <head>
        {% block title %}
        {% endblock %}
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "mainpage/css/main.css" %}"/> 
    </head>
    <body>
        <div id="page">
            {# give us coloured box the width of a page #}
            <div class="blue-wrapper">
                {# header #}
                <div id="header" class="centered">
                    <h1 class="header">Pawel Mosakowski</h1>
                    <h4 class="subheader">On subject of summoning computer softwares and applications thereof.</h4>
                    <div id="login">
                        {% if user.is_authenticated %}
                            Hello, {{ user.username }}. <a href='/logout'>Log out</a>
                        {% else %}
                            Hello, visitor. <a href='/login'>Log in</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            {# give us coloured box the width of a page #}
            <div class="blue-wrapper">
                {# menus #}
                <div id="menu" class="centered">
                    {# main menu #}
                    {% include 'mainpage/mainmenu.html' %}
                    {# per page menu #}
                    {% block menu %}
                    {% endblock %}
                </div>
            </div>

            {# content #}
            <div id="content" class="centered">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
