<html>
    <head>
        {% block title %}
        {% endblock %}
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "mainpage/css/main.css" %}"/>
    </head>
    <body>
        {% if user.is_authenticated %}
            Hello, {{ user.username }}. <a href='/logout'>Log out</a>
        {% else %}
            Hello, visitor. <a href='/login'>Log in</a>
        {% endif %}
        
        {% include 'mainpage/mainmenu.html' %}
        {% block menu %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </body>
</html>
